#hamburger-button {
    display: none;
}

.hamburger-nav-container {
    display: none;
}

.hamburger-nav-container a {
    color: black;
    background-color: #e2e6ea;
    text-align: end;
    padding: 10px;
}

.hamburger-nav-container .active {
    background-color:#e2e6ea;

}